<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Prueba para formulario de Informe SST</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
      function showDiv() {
        var seleccion = document.getElementById('preguntaIncapacidad').value;
        var oculto = document.getElementsByClassName('oculto');
        
        if (seleccion == 1) {
          oculto[0].style.display = "block";
          oculto[1].style.display = "block";
          oculto[2].style.display = "block";
          oculto[3].style.display = "block";
        } else if (seleccion == 0 || seleccion == 2) {
          oculto[0].style.display = "none";
          oculto[1].style.display = "none";
          oculto[2].style.display = "none";
          oculto[3].style.display = "none";
        }
      }
    </script>
  </head>
  <body>
    <h1 style="text-align: center"> Informe semanal SST</h1>
    <hr/>
    <div align="center" style="margin: 60px 0px;">
      <table style="text-align: center;">
        <tr>
          <td><h3>Datos de quien realiza el informe</h3></td>
          <td style="padding-left: 150px;"><h3>Ciclo semanal del informe</h3></td>
        </tr>

        <tr>
          <td><p><strong>Responsable SST</strong></p></td>
          <td style="padding-left: 150px;"><p><strong>Desde:</strong></p></td>
        </tr>

        <tr>
          <td>
            <select>
              <option>--- Selección ---</option>
              <option>Johana Velásquez</option>
              <option>Paola Toro</option>
            </select>
          </td>

          <td style="padding-left: 150px;"><input type="date" name="desde"></td>
        </tr>

        <tr>
          <td><p><strong>Empresa</strong></p></td>
          <td style="padding-left: 150px;"><p><strong>Hasta:<strong></p></td>
        </tr>

        <tr>
          <td>
            <select style="text-align: center;">
              <option>--- Selección ---</option>
              <option>Valoriza Propiedad Raíz</option>
              <option>Decofachadas</option>
              <option>Inversiones HD Global</option>
              <option>Montajes Eléctricos</option>
              <option>Solucioens en Icopor</option>
              <option>Velaya Construcciones</option>
              <option>Flotantes</option>
            </select>
          </td>

          <td style="padding-left: 150px;"><input type="date" name="hasta"></td>
        </tr>
      </table>
    </div>
    <hr/>

    <div align="center" style="margin: 60px 0px;">
      <h3>Novedades del personal</h3>
      <p>Seleccione la cantidad de novedades para cada caso</p>
      <p><strong>Recuerde llenar el formulario de Investigaciones tantas veces como reporte Accidentes e Incidentes</strong></p>

      <table style="text-align: center;">
        <tr>
          <td><p><strong>Accidentes laborales</strong></p></td>
          <td style="padding-left: 150px;"><p><strong>Suspensiones<strong></p></td>
        </tr>

        <tr>
          <td>
            <select name="accidentes">
              <option>--- Selección ---</option>
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </td>

          <td style="padding-left: 150px;">
            <select name="suspensiones">
              <option>--- Selección ---</option>
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </td>
        </tr>

        <tr>
          <td><p><strong>Incidentes laborales</strong></p></td>
          <td style="padding-left: 150px;"><p><strong>Hubo incapacidades?<strong></p></td>
        </tr>

        <tr>
          <td>
            <select name="incidentes">
              <option>--- Selección ---</option>
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </td>

          <td style="padding-left: 150px;">
            <select name="preguntaIncapacidad" id="preguntaIncapacidad" onchange="showDiv()">
              <option value="0">--- Selección ---</option>
              <option value="1">Si</option>
              <option value="2">No</option>
            </select>
          </td>
        </tr>

        <tr>
          <td><p><strong>Licencias</strong></p></td>
          <td style="padding-left: 150px; display: none;" class="oculto"><p><strong>Tipo de incapacidad<strong></p></td>
        </tr>
        </tr>

        <tr>
          <td>
            <select name="licencias">
              <option>--- Selección ---</option>
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </td>

          <td style="padding-left: 150px; display: none;" class="oculto">
            <div name="tipoIncapacidad" id="tipoIncapacidad">
              <p style="text-align: left; padding-left: 20px; margin-top: -5px;">
                <input type="checkbox" name="">Enfermedad General
              </p>
              <p style="text-align: left; padding-left: 20px;">
                <input type="checkbox" name="">Accidente Laboral
              </p>
              <p style="text-align: left; padding-left: 20px;">
                <input type="checkbox" name="">Licencia de Paternidad
              </p>
              <p style="text-align: left; padding-left: 20px;">
                <input type="checkbox" name="">Licencia de Maternidad
              </p>
              <p style="text-align: left; padding-left: 20px;">
                <input type="checkbox" name="">Enfermedad Laboral
              </p>
            </div>
          </td>
        </tr>

        <tr>
          <td><p><strong>Memorandos o llamados de atención</strong></p></td>
          <td style="padding-left: 150px; display: none;" class="oculto"><p><strong>Cantidad de incapacidades<strong></p></td>
        </tr>

        <tr>
          <td>
            <select name="memorandos">
              <option>--- Selección ---</option>
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </td>

          <td style="padding-left: 150px; display: none;" class="oculto">
            <select name="cantIcapacidad" id="cantIcapacidad">
              <option>--- Selección ---</option>
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </td>
        </tr>
      </table>
    </div>
    <hr/>

    <div align="center" style="margin: 60px 0px;">
      <h3>Inspección EPP</h3>
      <p>Descripción de la inspección semanal a los Elementos de Protección Personal</p>

      <p><strong>Tipo de acción</strong></p></td>

      <p>
        <select>
          <option>--- Selección ---</option>
          <option>Acción Preventiva</option>
          <option>Acción Correctiva</option>
          <option>Oportunidad de Mejora</option>
        </select>
      </p>
    </div>
    <hr/>

    
  </body>
</html>